body{
    margin: 0;
     
    
}

.ancetre{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.pere{
    background:#87CEEB;;  
    display: grid;
     justify-content:center ;
     align-content: center; 
     height: 60vh;
     padding: 2rem;
     width: 20rem;
    border-radius:10px ;
    box-shadow: 0 0 2px black;
   
}

.pere button{
    display: grid;
    justify-self: end;
    
}

h2{
    font-size: 1.5em;
    position: relative;
    font-weight: normal;
    top: -1rem;
    text-shadow: 0 0 1px white;
    color: white;
}


input{
    height: 4vh;
    border-radius:10px ;
    border: 2px solid green;
}
button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
    border-radius:10px ;
    background-color: #808080;
    color: white;
    width: 5rem;
    margin-top: 2rem;
    text-align:center;
    font-size: 1em;
}



button:hover{
    background-color: green;
    font-size: 1em;
}

@media screen and (max-width:500px){
    .pere{
        width:15rem ;
        height: 50vh;
        
    }

    h2{
        font-size: 1.3em;
        color:white;
        text-shadow: 0 0 1px  white;
    }
    
}